<div class="form-group">
  <label for="friend_email">Email</label>
  <input type="email" class="form-control" name="friend[email]" id="friend_email">
</div>
<div class="form-group">
  <buton class="btn btn-primary form-control" id="friend_submit">Add Friend</button>
</div>
