<h2>You have awesome friends! Do awesome things with them!</h2>
<div id="friend_list">
  <table class="table" id="creditors_table">
    <tr>
    <% _.each(BillApp.friends.models, function (friend, index) { %>
    <tr
      class="friend-row"
      data-id="<%= friend.id %>"
    >
      <td><%= friend.escape('email') %></td>
    </tr>
    <% }); %>
  </table>
</div>
