<h1>Sign In</h1>
<div class="row">
  <form id="session_form" action="<%= session_url %>" method="POST">
    <%= render "shared/auth_form", :user => @user %>
    <input id="login_submit" class="btn form-control form-group btn-primary" type="submit" value="Sign In">
  </form>
</div>
  <div class="row text-center">
  <h3>Don't have an account? How about you...</h3>
  <%= link_to "Sign Up", new_user_url, :class => "btn-blk btn btn-warning col-xs-6" %>
  <button id="guest_login" class="btn btn-blk btn-success col-xs-6">Sign In as Guest</button>
</div>


<script type="text/javascript">
  $(function () {
    $('#guest_login').click(function (event) {
      event.preventDefault();
      $('#user_email').val('ned@splittr.com');
      $('#user_password').val('password');
      setTimeout(function () {
        $('#session_form').submit();
      }, 500);
    });

  });
</script>
