<h1>Edit User</h1>
<form action="<%= user_url(@user) %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <%= render "shared/auth_form", :user => @user %>
  <input type="submit" value="Update">
</form>
