<h1>Sign Up</h1>
<div class="row">
  <form class="" action="<%= users_url %>" method="POST">
    <div class="form-group">
      <label for="user_username">Username</label>
      <input class="form-control" name=user[username] type="text" id="user_username" placeholder="username">
    </div>
  <%= render "shared/auth_form", :user => @user %>
  <input class="btn form-control form-group btn-primary" type="submit" value="Sign Up">
</form>
</div>
