<nav class="navbar navbar-default">

  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#transactions/new">Record Transactions</a></li>
    <li><a href="#friends/new">Add Friends</a></li>
    <li><a href="#transactions">Transaction History</a></li>
  </ul>

  <ul class="nav navbar-right">
    <li>
      <% if logged_in? %>
        <button class="btn btn-danger navbar-btn navbar-right">Sign Out</button>
      <% end %>
    </li>
  </ul>
</nav>
