<div class="form-group">
  Debtor
  <input 
    type="text"
    class="debtor-name form-control"
    placeholder="debtor"
  >
</div>

<div class="form-group">
  Amount
  <input type="number" class="debtor-share unmodified-amount form-control">
  <button class="btn btn-default remove-debtor">Remove Debtor</button>
</div>
