<h2>Your Transaction History</h2>
<% if (loans.length > 0) { %>
  <table class="table">
    <% loans.each(function (loan) { %>
      <tr
      class="transaction-row"
      data-id="<%= loan.escape('transaction_id') %>"
        <% if (loan.escape('debtor_id')) { %>
          data-type="credit"
        <% } else { %>
          data-type="debt"
        <% } %>
      >
        <td><%= loan.escape('description') %></td>
        <td><%= loan.escape('date') %></td>
        <td><%= Math.abs(loan.escape('amount')) %></td>
      </tr>
    <% }); %>
    </table>
<% } %>
