<div id="transaction_start>
  <label for="transaction_creditor">Creditor</label>
  <input
    type="text"
    class="creditor-name"
    id="creditor"
    placeholder="creditor"
  >
</div>

<div id="debtors">
  <button id="add_debtor">Add Debtor</button>
</div>

<div id="transaction_end">
  <input type="submit" id="transaction_submit">
</div>
