<div id="transaction_start>

  <label for="transaction_description>Description</label>
  <input
    type="text"
    id="transaction_description"
    placeholder="description"
    name="transaction[description]"
  >

  <label for="transaction_date">Date</label>
  <input type="date" id="transaction_date" name="transaction[date]">

  <label for="transaction_creditor">Creditor</label>
  <input
    type="text"
    class="creditor-name"
    id="creditor"
    placeholder="creditor"
  >
</div>

<div id="debtors">
</div>

<div id="transaction_end">
  <button id="add_debtor">Add Debtor</button>
  <input type="submit" id="transaction_submit">
</div>
